@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lora:ital,wght@1,400;1,500;1,600;1,700&family=Varela&family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
.header {
    font-size: 45px;
    color: rgb(157, 155, 155);
}
/* home section */
.home{
    display: flex;
    background: url(./images/pexels-photo-2387793.jpeg) no-repeat center;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    min-height: 500px;
    color: #fff;
    
}
.homeContainer {
    display: flex;
    height: 90vh;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.homeContent {
    margin-left: 3.445rem;
}
.text {
    line-height: 55px;
}
.text p {
        color: rgb(157, 155, 155);
        text-transform: uppercase;
        font-size: 27px;
}
.text h1 {
    font-size: 75px;
    text-transform: uppercase;
}
.name{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(./images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
/* home section ends */

/* about section starts */
.about {
    background-color: rgb(32, 32, 32);
    padding: 30px;
    
}
.about h1 {
    color: grey;
}
.me {
    color: white;
}
/* about section ends */

/* work section starts */
.works {
    background-color: rgb(32, 32, 32);
    min-height: 100vh;
    overflow: hidden;
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center
}
.works h1 {
    color: grey;
    padding: 30px;
}
.works .card {
    overflow: hidden;
    height: 300px;
    width: 300px;
    position: relative;
    cursor: pointer;
    margin: 0 15px;
    box-shadow: 0 0 25px 1px rgba(0, 0, 0, .3);
    transition: .5s;
    background-color: #555
}

.works .card:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    transform: translate(-140%, -50%);
    background-color: rgb(255, 255, 255);
    opacity: 0.6;
    border-radius: 50%;
    transition: .8s
}

.works .card:hover:after {
    transform: translate(-50%, -50%)
}

.works .card:hover img {
    transform: translate(-50%, -50%) scale(1.3) rotate(20deg)
}

.works img {
    position: absolute;
    height: 110%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .8s
}

.wrap {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-2000px, -50%);
    color: #fff;
    transition: .8s;
    transition-timing-function: ease-in
}
.wrapper{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .tab{
    display: block;
    font-size: 24px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    padding: 10px;
    letter-spacing: 2px;
    transition: all .25s;
  }
  .tab:link {
      color: black;
  }
  
  .tab:hover{
    letter-spacing: 10px;
  }
  

.works .card:hover .wrap {
    transform: translate(-50%, -50%);
    transition-timing-function: ease
}
/* work section ends */